@inherits LayoutComponentBase
@layout MainLayout

<div class="container-fluid">
  <div class="row bg-primary text-white">
    <div class="col-sm-12">
      <h2>This is a nested layout</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      @Body
    </div>
  </div>
</div>

